.top-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
}
.container {
  width: 85%;
}

.exp-carousel {
  position: relative;
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  white-space: nowrap;
  transition: transform 0.3s;
}
.splash-explore-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "M PLUS 1", sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.43;
  width: 30%;
  min-width: 300px;
  height: 625px;
  padding-right: 30px;
  margin-left: 30px;
}

.splash-experience-img {
  display: flex;
  flex-direction: column;
  height: 535px;
  width: 341px;
  object-fit: cover;
  border-radius: 5%;
  cursor: pointer;
}
.nondescript-div {
  height: 30px;
  width: 30px;
}

.fa-chevron-left {
  display: flex;
  cursor: pointer;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.fa-chevron-right {
  display: flex;
  cursor: pointer;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.fa-chevron-left:hover {
  cursor: pointer;
}

.fa-chevron-right:hover {
  cursor: pointer;
}

.splash-exp-card {
  display: inline-flex;
  flex-direction: column;
  max-width: 341px;
  max-height: 575px;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.latest-exp {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.small-flex-row-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-column-gap: 21px;
  grid-row-gap: 90px;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-row-gap: 30px;
}

.small-exp-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 430px;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.small-experience-img {
  display: flex;
  flex-direction: column;
  height: 340px;
  width: 250px;
  object-fit: cover;
  border-radius: 5%;
}

.splash-details {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 340px;
}

.exp-info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 250px;
}
