.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 92%;
}
.container-inner {
  /* height: 100vh; */
}

.profile-title {
  display: flex;
  flex-direction: row;
  font-family: "M PLUS 1", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.43;
}

.title {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  font-family: "M PLUS 1", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.43;
}

.exp-name-profile {
  font-family: "M PLUS 1", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

.exp-date-profile {
  font-family: "M PLUS 1", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.exp-location-profile {
  font-family: "M PLUS 1", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  width: 100%;
}

.delete-bkg-profile {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #5a3a5830;
  inline-size: 100%;
  overflow-wrap: break-word;
}

.delete-bkg-profile:hover {
  /* text-shadow: 1px 1px #0000004c; */
}

.exp-list-profile {
  display: flex;
  flex-direction: column;
  /* width: 590px; */
  align-items: space-between;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #5a3a5830;
  inline-size: 100%;
  overflow-wrap: break-word;
}

.delete-bkg {
  align-self: flex-end;
  margin-bottom: 30px;
  /* position: absolute; */
}

.confirm-delete-bkg {
  position: absolute;
  border: 1px solid black;
  padding: 4px;
  border-radius: 10px;
  background-color: white;
}

.inner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

.list-exp {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
}

.list-bkg {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
  border: 3px solid forestgreen;
}

.user-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 1px solid hotpink;
  border-radius: 50%;
}
