.exp-trash {
  position: relative;
  right: 0;
}

.confirm-delete-exp {
  position: absolute;
  right: 660px;
  border: 1px solid rgb(186, 209, 194);
  height: 24px;
  border-radius: 10px;
  padding: 4px;
}

.confirm-delete-exp:hover {
  text-shadow: 1px 1px #0000004c;
  box-shadow: 1px 1px #0000004c;
  cursor: pointer;
}
