.date-time-picker {
  display: flex;
  flex-direction: column;
}

.exp-date-time {
  width: 100%;
  border-radius: 10px;
}

.exp-host-availability {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  height: 32px;
  width: 164px;
  border-radius: 10px;
  border: none;
  background-color: black;
  font-family: "M PLUS 1", sans-serif;
  font-size: 16px;
  padding: 8px;
  font-weight: 500;
  cursor: pointer;
}

.date-picker-container {
  height: 100vh;
}
