.exp-details {
  width: 742px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "M PLUS 1", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.43;
  margin-top: 35px;
}
.submit-or-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.exp-host:hover {
  box-shadow: 1px 1px #0000004c;
}

.exp-image:hover {
  box-shadow: 1px 1px #0000004c;
}

.form-container {
  width: 700px;
  display: flex;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #5b8193;
}

.exp-name,
.exp-address,
.exp-city,
.exp-state,
.exp-country,
.exp-lat,
.exp-lng,
.exp-price,
.exp-img {
  width: 600px;
  height: 30px;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.exp-duration {
  width: 634px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price {
  display: inline;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.exp-description {
  resize: none;
  height: 100px;
  width: 600px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price:before {
  content: "$";
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 1;
}

input {
  padding-left: 10px;
  padding-right: 20px;
}

input,
select,
textarea {
  outline: none;
  border: 1px solid rgb(91, 129, 147);
  border-radius: 5px;
}

input.exp-price {
  padding-left: 20px;
  padding-right: 10px;
}

.submit {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.exp-host,
.exp-image {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  border: none;
  background-color: #93b5c6;
  padding: 8px;
  font-weight: 500;
  cursor: pointer;
}
