/* Site wide styles */
:root {
  --local-red: rgb(255, 22, 84);
  --local-navy: rgb(21, 52, 98);
  --local-teal: rgb(79, 160, 149);
  --local-green: rgb(186, 209, 194);
  --local-yellow: rgb(255, 255, 231);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  size: 18px;
  font-family: "M PLUS 1", sans-serif;
}

iframe {
  position: fixed;
  z-index: -100 !important;
}

.root {
  height: 100%;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
footer {
  position: relative;
  bottom: 0;
  height: 80px;
  width: 100%;
  border-top: 1px solid rgb(186, 209, 194);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-family: "M PLUS 1", sans-serif;
  font-size: 16px;
}

label {
  color: black;
}

select {
  font-family: "M PLUS 1", sans-serif;
  font-size: 16px;
  color: black;
}

#err {
  color: rgb(255, 22, 84);
}

.react-datetime-picker * {
  color: black;
  background-color: white;
}

/* local */
.sc-hLBbgP.fDbOPw {
  min-height: 38px !important;
  max-height: 34px !important;
  display: flex;
  flex-direction: row-reverse !important;
}

/* heroku */
.lmCTmJ {
  min-height: 38px !important;
  max-height: 34px !important;
  display: flex;
  flex-direction: row-reverse !important;
}

/* local */
.fDbOPw > input {
  width: 100%;
  padding: 0 0 0 17px !important;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: inherit;
  font-family: inherit;
  color: #212121;
}

/* heroku */
.lmCTmJ > input {
  width: 100%;
  padding: 0px 0px 0px 13px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: inherit;
  font-family: inherit;
  color: rgb(33, 33, 33);
}

.hCpHso .ellipsis {
  width: 90% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.sc-gswNZR.hCpHso li {
  display: flex;
  flex-direction: row-reverse !important;
  width: 400px !important;
}

.cmyNjn > .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  font-family: "M PLUS 1", sans-serif !important;
}

/* local */
.eWFcRu {
  fill: white !important;
  border: 1px solid rgb(255, 22, 84);
  background-color: rgb(255, 22, 84);
  border-radius: 50%;
  margin: 7px 7px 7px 7px !important;
  padding: 3px;
}

/* heroku */
.hVRzLL {
  flex-shrink: 0;
  fill: rgb(255, 255, 255) !important;
  border: 1px solid rgb(255, 22, 84) !important;
  background-color: rgb(255, 22, 84) !important;
  border-radius: 50%;
  margin: 7px 7px 7px 7px !important;
  padding: 3px;
}

.bPNNyh > svg {
  margin: 12px 0px 7px 12px !important;
}

.nav {
  height: 32px;
}

.about-me {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.linkedin {
  margin-right: 120px;
}
.github {
  margin-left: 10px;
}
.session-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.session {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 66px;
  border: 1px solid black;
  border-radius: 25px;
}

.fa-user {
  color: white;
}

.far-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-search-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 92.5%;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 40px;
  height: 40px;
  position: relative;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 5;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-left: 8%;
  object-fit: cover;
  z-index: 1;
  cursor: pointer;
}

.img-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 60px;
  width: 180px;
  object-fit: scale-down;
  cursor: pointer;
}

hr.navbar {
  width: 100%;
  z-index: 2;
}

.logged-in-links {
  display: flex;
  flex-direction: row;
}

.login-signup-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  height: 40px;
  margin-right: 0px;
}

/* .create-exp {
  cursor: pointer;
  border: 1px solid rgb(79, 160, 149);
  color: rgb(79, 160, 149);
  font-family: "M PLUS 1", sans-serif;
  font-weight: 500;
  font-size: 16px;
  height: 24px;
  border-radius: 10px;
  padding: 4px;
} */

.top.create-exp {
  cursor: pointer;
  border: 1px solid rgb(79, 160, 149);
  color: rgb(79, 160, 149);
  font-family: "M PLUS 1", sans-serif;
  font-weight: 500;
  font-size: 16px;
  height: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 4px;
}

.middle.create-exp {
  cursor: pointer;
  border: 1px solid rgb(79, 160, 149);
  border-top: none;
  color: rgb(79, 160, 149);
  font-family: "M PLUS 1", sans-serif;
  font-weight: 500;
  font-size: 16px;
  height: 24px;
  padding: 4px;
}
.bottom.create-exp {
  cursor: pointer;
  border: 1px solid rgb(79, 160, 149);
  border-top: none;
  color: rgb(79, 160, 149);
  font-family: "M PLUS 1", sans-serif;
  font-weight: 500;
  font-size: 16px;
  height: 24px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 4px;
}

.create-exp:hover {
  box-shadow: 1px 1px rgb(79, 160, 149);
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.prof-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 22px;
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 4px;
}

.explore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  height: 15px;
  width: 55px;
  border-radius: 10px;
  color: rgb(79, 160, 149);
  padding: 8px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid rgb(79, 160, 149);
  cursor: pointer;
}

.explore:hover {
  cursor: pointer;
  box-shadow: 1px 1px rgb(79, 160, 149);
}

.hr-bars {
  color: black;
}

.show-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px;
  width: 160px;
  right: 0px;
  top: 10px;
  border: 1px solid black;
  background-color: white;
  opacity: 1;
  border-radius: 20px;
  z-index: 100;
}

hr.bars {
  background-color: black;
  width: 20px;
  margin: 2px;
  margin-left: 6px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  width: 32px;
  margin: 6px;
  margin-left: 10px;
  justify-content: center;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}
