.fa-x {
  position: absolute;
  z-index: 5;
  top: 20px;
  left: 20px;
  opacity: 0.5;
}

.fa-x:hover {
  opacity: 1;
  color: rgb(255, 22, 84);
  cursor: pointer;
  text-shadow: 1px 1px #ffffff;
}
.confirm-delete {
  position: absolute;
  z-index: 2;
  top: 44px;
  left: 20px;
  opacity: 1;
  color: rgb(255, 22, 84);
  background-color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  padding: 2px;
}

.confirm-delete:hover {
  box-shadow: 1px 1px #0000004c;
  cursor: pointer;
}

.pic-1,
.pic2,
.pic3,
.pic4,
.pic5 {
  position: relative;
}
