.create-comment-form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.review-input {
  margin-right: 20px;
}

.star-rating-select {
  width: 632px;
}

.new-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  height: 32px;
  width: 80px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-right: 10px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
