.review.fa-trash-can {
  cursor: pointer;
}

.rvw-confirm-delete {
  position: relative;
  cursor: pointer;
  width: 105px;
  z-index: 2;
  opacity: 1;
  color: rgb(255, 22, 84);
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 2px;
}

.rvw-confirm-delete:hover {
  box-shadow: 1px 1px #0000004c;
  cursor: pointer;
}

.delete-rvw-container {
  width: 20px;
  position: absolute;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-end;
}

.delete-review {
  width: 20px;
  height: 20px;
}
