.each-rvw {
  display: flex;
  flex-direction: column;
}

.rvw-profile-pic {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.pic-name-timestamp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.star {
  margin-right: 10px;
}

.rvw-username-timestamp {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.add-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  cursor: pointer;
}
.add-rvw-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-img:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.284);
}
.rvw-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rvw-image-uploads {
  height: 200px;
  width: 200px;
  object-fit: cover;
  padding: 0px 8px 8px 0px;
}

.rvw-image-uploads {
  position: relative;
}

.delete-rvw-image {
  position: absolute;
  z-index: 3;
}
.review-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 632px;
  margin-bottom: 20px;
}

.rvw-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
